.DS_STORE
dump.rdb
target/
node_modules/*
!node_modules/oae-activity
!node_modules/oae-authentication
!node_modules/oae-authz
!node_modules/oae-config
!node_modules/oae-content
!node_modules/oae-context
!node_modules/oae-discussions
!node_modules/oae-doc
!node_modules/oae-email
!node_modules/oae-following
!node_modules/oae-library
!node_modules/oae-logger
!node_modules/oae-messagebox
!node_modules/oae-preview-processor
!node_modules/oae-principals
!node_modules/oae-profiles
!node_modules/oae-rest
!node_modules/oae-search
!node_modules/oae-telemetry
!node_modules/oae-tenants
!node_modules/oae-tests
!node_modules/oae-tincanapi
!node_modules/oae-ui
!node_modules/oae-util
*.log
doc_data.txt
