[submodule "3akai-ux"]
	path = 3akai-ux
  url = https://github.com/oaeproject/3akai-ux
[submodule "packages/oae-rest"]
	path = packages/oae-rest
	url = https://github.com/oaeproject/oae-rest
[submodule "ethercalc"]
	path = ethercalc
	url = https://github.com/oaeproject/ethercalc
[submodule "etherpad"]
	path = etherpad
	url = https://github.com/oaeproject/etherpad-lite
