language: node_js
node_js:
  - 0.8

branches:
  only:
    - master

before_install:
  - sudo apt-get install -qq graphicsmagick
  - git clone git://github.com/sakaiproject/3akai-ux.git --branch master ../3akai-ux
  - cd ../3akai-ux
  - git checkout Hilary
  - cd ../Hilary

services:
  - cassandra
  - elasticsearch
  - rabbitmq
  - redis-server

script:
  - grunt test

after_failure:
  - cat tests.log | node_modules/.bin/bunyan -l warn

notifications:
  email:
    - oae-team@collab.sakaiproject.org
  irc: "irc.freenode.org#sakai"