language: node_js
node_js:
  - 0.10

branches:
  only:
    - master

before_install:
  # Install cassandra 1.2 manually
  - echo "deb http://debian.datastax.com/community stable main" | sudo tee -a /etc/apt/sources.list.d/dsc.sources.list
  - curl -L http://debian.datastax.com/debian/repo_key | sudo apt-key add -
  - sudo apt-get update
  - sudo apt-get install -y -o Dpkg::Options::=--force-confnew cassandra=1.2.12 dsc12
  - sudo sed -i 's/-Xss180k/-Xss256k/g' /etc/cassandra/cassandra-env.sh
  - sudo sh -c "echo 'JVM_OPTS=\"\${JVM_OPTS} -Djava.net.preferIPv4Stack=false\"' >> /etc/cassandra/cassandra-env.sh"
  - sudo service cassandra stop
  - sudo service cassandra start
  - sudo service cassandra status

  # Turn off unneeded services to free some memory
  - sudo service mysql stop
  - sudo service memcached stop
  - sudo service postgresql stop

  # Install Hilary deps
  - sudo apt-get install -qq graphicsmagick
  - npm install -g grunt-cli
  - git clone git://github.com/oaeproject/3akai-ux.git --branch master ../3akai-ux
  - git clone git://github.com/ether/etherpad-lite --branch master ../etherpad-lite
  - cd ../etherpad-lite
  - echo "13SirapH8t3kxUh5T5aqWXhXahMzoZRA" > APIKEY.txt
  - ./bin/installDeps.sh
  - "sed -i 's/defaultPadText\" : \".*\"/defaultPadText\" : \"\"/g' settings.json"
  - node src/node/server.js &

  # Position ourselves to start the test in "script" phase
  - cd ../Hilary

services:
  - elasticsearch
  - rabbitmq
  - redis-server

script:
  - grunt

after_failure:
  - cat tests.log | node_modules/.bin/bunyan -l info

notifications:
  email:
    - oae-team@collab.sakaiproject.org
  irc: "irc.freenode.org#sakai"
