<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="datastax.community" />
  <package id="elasticsearch" />
  <package id="etherpad-lite" />
  <package id="graphicsmagick" />
  <package id="javaruntime" />
  <package id="libreoffice" />
  <package id="nginx" />
  <package id="nodejs.install" />
  <package id="python" />
  <package id="rabbitmq" />
  <package id="redis" />
  <package id="vcredist2010" />
</packages>
