#
# Copyright 2017 Apereo Foundation (AF) Licensed under the
# Educational Community License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may
# obtain a copy of the License at
#
#     http://opensource.org/licenses/ECL-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an "AS IS"
# BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
# or implied. See the License for the specific language governing
# permissions and limitations under the License.
#

#
# Setup in two steps
#
# docker-compose create --build
# docker-compose up
#

version: "3"

networks:
  my_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

services:
  oae-hilary:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: oae-hilary
    # command: nodemon -L app.js | npx bunyan # default
    # command: npm test # for running tests
    extra_hosts:
      - "admin.oae.com:172.20.0.9"
    #   - "tenant1.oae.com:172.20.0.9"
    # - "any.other.host.oae.com:172.20.0.9"
    image: hilary:latest
    restart: always
    networks:
      - my_network
    ports:
      - 2000:2000
      - 2001:2001
    tty: false
    environment:
      - CODACY_PROJECT_TOKEN
      - TWITTER_KEY
      - TWITTER_SECRET
      - FACEBOOK_APP_ID
      - FACEBOOK_APP_SECRET
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
    volumes:
      - .:/usr/src/Hilary
    cap_add:
      - SYS_ADMIN
  oae-redis:
    container_name: oae-redis
    image: redis:3.2.8-alpine
    restart: always
    ports:
      - 6379:6379
    tty: false
    networks:
      - my_network
  oae-elasticsearch:
    container_name: oae-elasticsearch
    image: oaeproject/oae-elasticsearch-docker
    restart: always
    networks:
      - my_network
    ports:
      - 9200:9200
    tty: false
    volumes:
      - ../data/elasticsearch:/usr/share/elasticsearch/data
  oae-rabbitmq:
    container_name: oae-rabbitmq
    image: rabbitmq:3.6.6-management-alpine
    restart: always
    ports:
      - 5672:5672
    networks:
      - my_network
    tty: false
  oae-nginx:
    container_name: oae-nginx
    image: nginx:stable-alpine
    restart: always
    networks:
      my_network:
        ipv4_address: 172.20.0.9 # this is needed because of multi-tenancy
    tty: false
    volumes:
      - ./3akai-ux:/usr/src/Hilary/3akai-ux
      - ../files:/usr/share/files
      - ./3akai-ux/nginx/nginx.conf.docker:/etc/nginx/nginx.conf
      - ./3akai-ux/nginx/mime.conf:/etc/nginx/mime.conf
      - ./3akai-ux/nginx/nginx-selfsigned.crt:/etc/nginx/nginx-selfsigned.crt
      - ./3akai-ux/nginx/nginx-selfsigned.key:/etc/nginx/nginx-selfsigned.key
      - ./3akai-ux/nginx/self-signed.conf:/etc/nginx/self-signed.conf
      - ./3akai-ux/nginx/ssl-params.conf:/etc/nginx/ssl-params.conf
      - ./3akai-ux/nginx/dhparam.pem:/etc/nginx/dhparam.pem
    ports:
      - 80:80
      - 443:443
  oae-cassandra:
    container_name: oae-cassandra
    image: cassandra:2.1.21
    restart: always
    networks:
      - my_network
    ports:
      - 9160:9160
      - 9042:9042
    tty: false
    volumes:
      - ../data/cassandra:/var/lib/cassandra
  oae-etherpad:
    container_name: oae-etherpad
    image: oaeproject/oae-etherpad-docker
    restart: always
    networks:
      - my_network
    ports:
      - 9001:9001
    tty: false
  oae-ethercalc:
    container_name: oae-ethercalc
    image: "oaeproject/oae-ethercalc-docker"
    restart: always
    networks:
      - my_network
    ports:
      - 8000:8000
    tty: false
